<h1>Search your flights</h1>

<%= form_with url: :flights_index, method: :get do |f| %>
    <div>
        <%= f.label :departure_airport, "Departure airport:" %>
        <%= select(:flight, :departure_airport, @airport_options) %>
    </div>
    
    <div>
        <%= f.label :arrival_airport, "Arrival airport:" %>
        <%= select(:flight, :arrival_airport, @airport_options) %>
    </div>
    
    <div>
        <%= f.label :date, "Flight date:" %>
        <%= select(:flight, :date, @flight_dates_options) %>
    </div>

    <div>
        <%= f.label :num_tickets, "Number of passengers:" %>
        <%= select_tag(:num_tickets, options_for_select([[1,1], [2,2], [3,3], [4,4]])) %>
    </div>
    
    <%= f.submit "Search" %>
<% end %>

<% unless @flights.nil? %>
    <h1>Search result</h1>

    <%= form_with method: :get do |f| %>
        <%= f.collection_radio_buttons(:flight_id, @flights, :id, :flight_details) %>
        <%# To add hidden field for # of passengers once created bookingsController %>
    <% end %>
<% end %>