<h1>Flight Booking Page</h1>

<h3>Flight details</h3>
<p>Chosen date: <%= @flight.date_formatted %></p>
<p>Depature airport: <%= @flight.departure_airport.code %></p>
<p>Arrival airport: <%= @flight.arrival_airport.code %></p>
<p>Duration (minutes): <%= @flight.duration_minutes %></p>

<h3>Passenger information</h3>
<div id="passenger_info" data-controller="passenger">
    <%= render partial: "passenger_form", locals: { booking: @booking, flight: @flight } %>
    <button data-action="passenger#add">Add Passenger</button>
    <button data-action="passenger#remove">Remove</button>
</div>
    
